
/* Copyright Colin Hiriak 2015 */

*{
    font-family: sans-serif;
   
}

html {
  background-image: url('../images/bats.gif');
}

header {
  border-bottom: 1px solid black;
  background: linear-gradient(to bottom left, black, orange, white);
}



body {
  
  width: 800px;
  margin: 0 auto;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  box-shadow: 3px 3px 10px 10px black;
}

#container
{
margin: 10px auto;

}

header img { 
  float: left;
  margin: 0px 30px 0px 0px;
}

#ttl1 { 
  font-size: 40px;
  font-weight: 800; 
       
}

#ttl2 {
    
}
#ttle:first-letter {
  font-size: 50px;
    
}

ul, li {
    //margin-top: 1em;
    //margin-left: 1em;
    padding: 0;
    list-style: none;
}

#top {
    padding: 0;
    margin: 0;
    
}


* {
    margin: 0; padding: 0; 
}

#horiznav ul li { 
    float: left; list-style-type: none; 
    color: white;
}

#horiznav ul li a { 
    background: black; color: white; display: block; font-family: Arial, 
        Helvetica, sans-serif; padding: 8px 39px; text-decoration: none; 
}
#horiznav ul li a:hover { background: gray;
}
#horiznav ul li a.current {
    color: orange;
}



#leftnav a {
    display: block;
    float:left;
    color: black;
    line-height: 2em;
    margin: 0px;
    padding: 2em;
    padding: .2em 0 .2em 1em;
    margin-bottom: .2em;
    
    width: 8em;
    background-color: orange;
    border:black solid medium;
    font-weight: bold;
}

#leftnav a:hover {
    color: green;
    
}
#content {
    padding-left: 180px;
    border-left: 1px;
}
#bottom {
    margin-left: 180px;
    border-left: 1px;
}

#footer {
    clear: both;
}

ul {
    float: top;
    float: left;
    padding: 0;
    margin: 0;
}


#leftnav a:hover { 
  color: green; 
}
 

footer {
  border-top: 1px solid black;
  font-size: 14px;
  text-align: center;
  background: linear-gradient(to top right, black, orange, white);
  padding: 20px;
}